section.projects
  .wrapper
    .card.card_full.card_1 
      .card_inner.yellow
        p.category React Web App
        h2 Wine store concept with React and Firebase! :)
        .see-online
          a.button(href="http://efficient-hammer.surge.sh/") See it online
          a.github(href="https://github.com/MaraAlexa/red-wine-shop") See the code on Github
    .card.card_half.left.tall.card_2 
      .card_inner.orange
        p.category Currency Exchange
        h2 A landing page for a fintech company
        .see-online
          a.button(href="http://maraalexa.github.io/currencyExchange/") See it online
          a.github(href="https://github.com/MaraAlexa/currencyExchange/tree/gh-pages") See the code on Github
    .card.card_half.tall.right.card_3
      .card_inner.purple
        p.category favorite designs
        h2 A flexbox grid with some of my favourite designs
        .see-online
          a.button(href="https://maraalexa.github.io/web_resources_collection/") See it online
          a.github(href="https://github.com/MaraAlexa/web_resources_collection/tree/gh-pages") See the code on Github
    .card.card_third.card_4 
      .card_inner.green
        p.category ES6 Adventures
        h2 Use ES6 to fetch data from an API and filter it
        .see-online
          a.button(href="https://maraalexa.github.io/fetch_and_filter/") See it online
          a.github(href="https://github.com/MaraAlexa/fetch_and_filter") See the code on Github
    .view_more
      a(href="https://github.com/MaraAlexa")
        p More projects on github!!!   
