section.banner.clearfix
  .wrapper.clearfix
    .logo
    h1
      | Front-End
      br
      | Designer&Coder
  .aboutMe
    input(type="checkbox" id="btn-state")
    .morph
      label.btn-morph-on(for="btn-state")
      label.btn-morph-on(for="btn-state") 
      label.btn-morph-off(for="btn-state") x
      .morph-content
        h3.headline Hi, I'm Mara Alexa
        b
          i I am a developer
        
        p My passion for code comes from the fact that I love to bring my designs into (digital) reality. I enjoy working with the new tech and currently loving ES6 and React.
        
        b
          i I am a designer
        
        p I enjoy the beauty of web design in a never-ending quest to gain new appreciation for elegant typography, harmonious color and a sense of intuitive interactions.
        
        p Contact me at: #[b maraalexa57@gmail.com]
